<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>리뷰 목록</title>
</head>
<body>
<h1>리뷰 목록</h1>
<table>
    <thead>
    <tr>
        <th>리뷰 ID</th>
        <th>사용자 ID</th>
        <th>평점</th>
        <th>내용</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="review : ${reviews}">
        <td th:text="${review.reviewId}"></td>
        <td th:text="${review.user.userId}"></td>
        <td th:text="${review.rating}"></td>
        <td th:text="${review.comment}"></td>
        <td th:text="${review.createdTime}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
