<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style01.css}"/>
    <title>미니게임을 통한 메뉴추천</title>
</head>
<body>
<h2>미니게임을 통한 메뉴추천</h2>
<table>
    <tr>
        <th>메뉴 ID</th>
        <th>가게 ID</th>
        <th>이름</th>
        <th>가격</th>
        <th>카테고리</th>
        <th>이미지</th>
    </tr>
    <tr th:each="menu : ${recommendedMenus}">
        <td th:text="${menu.menuId}"></td>
        <td th:text="${menu.storeId}"></td>
        <td th:text="${menu.name}"></td>
        <td th:text="${menu.price}"></td>
        <td th:text="${menu.categories}"></td>
        <td><img th:src="@{/files/{savedName}(savedName=${menu.pictureUrl})}" width="100"></td>
    </tr>
</table>
</body>
</html>