<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style01.css}"/>
    <title>연령대별 7일간 인기 메뉴</title>
</head>
<body>
<h1 th:text="'연령대: ' + ${ageGroup} + ' 인기 메뉴'"></h1>

<table>
    <tr>
        <th>Menu ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Picture</th>
    </tr>
    <tr th:each="menu : ${agePopularMenus}">
        <td th:text="${menu.menuId}"></td>
        <td th:text="${menu.name}"></td>
        <td th:text="${menu.price} + '원'"></td>
        <td><img th:src="${menu.pictureUrl}" alt="메뉴 이미지" style="width: 100px; height: auto;"></td>
    </tr>
</table>
</body>
</html>