<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <title>안먹어본 음식 추천</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style01.css}"/>
</head>
<body>
<h2>추천 메뉴</h2>
<table>
    <tr>
        <th>menuId</th>
        <th>storeId</th>
        <th>name</th>
        <th>price</th>
        <th>pictureUrl</th>
        <th>category</th>
    </tr>
    <tr th:each="menu : ${recommendedMenus}">
        <td th:text="${menu.menuId}"></td>
        <td th:text="${menu.storeId}"></td>
        <td th:text="${menu.name}"></td>
        <td th:text="${menu.price}"></td>
        <td th:text="${menu.pictureUrl}"></td>
        <td th:text="${menu.categories}"></td>
    </tr>
</table>
</body>
</html>