<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <title>도로명주소 검색</title>
</head>
<body>
<script>
    window.onload = function () {
        let confmKey = 'devU01TX0FVVEgyMDI0MDkwNTE3MDc0NjExNTA2NjE='; // 발급받은 승인키
        let apiUrl = `https://business.juso.go.kr/addrlink/addrLinkUrl.do?confmKey=${confmKey}&resultType=4&useDetailAddr=Y&returnUrl=http://localhost:8888/user/jusoCallback`;

        window.location.href = apiUrl; // 도로명 주소 API 호출
    };

    // 팝업에서 도로명 주소 API의 결과를 받아서 부모 창에 전달하는 함수
    function jusoCallBack(roadFullAddr, zipNo, addrDetail) {
        // 부모 창에 접근하여 해당 필드에 값 설정
        if (window.opener) {
            // 도로명 주소와 우편번호를 부모 창의 입력 필드에 넣음
            window.opener.document.getElementById("roadNameAddress").value = roadFullAddr;
            window.opener.document.getElementById("zipcode").value = zipNo;

            // 상세 주소가 있으면 상세 주소 필드에도 값을 넣음
            if (addrDetail) {
                window.opener.document.getElementById("detailAddress").value = addrDetail;
            }

            // 팝업 창 닫기
            window.close();
        } else {
            alert("부모 창을 찾을 수 없습니다.");
        }
    }
</script>
</body>
</html>
