<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <title>마이페이지</title>
</head>
<body>
<h1>[ 마이페이지 ]</h1>
<p><a href="/mypage/diningHistory">내가 먹은 음식 내역</a></p>
<p><a href="/mypage/minigameHistory">미니게임 내역</a></p>
<p><a href="/mypage/searchHistory">검색 내역</a></p>
<p><a href="/mypage/changeUserInfo">개인정보 수정</a></p>
<p><a href="/mypage">캘린더</a></p>
</body>
</html>