<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>메뉴 등록 페이지</title>
<script src="/js/jquery-3.7.1.min.js"></script>
<script>
	$(document).ready(function() {
		// 메뉴 등록 버튼 클릭 시 동작
		$('#registerMenuButton').click(function() {
			let menuRegistration = {
				storeId : $('#storeId').val(), // 가게 ID
				name : $('#name').val(), // 메뉴 이름
				price : $('#price').val(), // 가격
				pictureUrl : $('#pictureUrl').val(), // 사진 URL
				enabled : true, // 활성화 여부
				categories : []
			// 선택된 카테고리
			};

			// 체크된 카테고리 값을 배열에 추가
			$('input[name="categories"]:checked').each(function() {
				menuRegistration.categories.push($(this).val());
			});

			// AJAX 요청으로 서버에 데이터 전송
			$.ajax({
				url : '/menuRegistration',
				type : 'post',
				contentType : 'application/json',
				data : JSON.stringify(menuRegistration),
				success : function(response) {
					alert('메뉴가 성공적으로 등록되었습니다.');
					window.location.href = '/menuRegistration'; // 성공 시 메뉴 페이지로 리다이렉트
				},
				error : function(e) {
					alert('메뉴 등록에 실패했습니다.');
				}
			});
		});
		// 카테고리를 DB에서 조회
		$.ajax({
			url : '/api/categories',
			method : 'get',
			success : function(data) {
				console.log(data);
				// 각 카테고리를 삽입할 div 요소들
                const ingredientCategories = $('#ingredientCategories');
                const countryCategories = $('#countryCategories');
                const cookingMethodCategories = $('#cookingMethodCategories');
                const foodTypeCategories = $('#foodTypeCategories');
                const mealTimeCategories = $('#mealTimeCategories');
                const dietaryRestrictionCategories = $('#dietaryRestrictionCategories');
                const foodCharacteristicCategories = $('#foodCharacteristicCategories');
             // 카테고리 데이터를 순회하면서 해당하는 구분에 맞게 추가
                data.forEach(category => {
                    let categoryHtml = '<input type="checkbox" name="categories" value="' + category.categoryName + '">' + category.categoryName + '<br>';
                    
                    switch(category.typeId) {
                        case 1: // 재료
                            ingredientCategories.append(categoryHtml);
                            break;
                        case 2: // 나라
                            countryCategories.append(categoryHtml);
                            break;
                        case 3: // 조리 방법
                            cookingMethodCategories.append(categoryHtml);
                            break;
                        case 4: // 음식 종류
                            foodTypeCategories.append(categoryHtml);
                            break;
                        case 5: // 식사 시간
                            mealTimeCategories.append(categoryHtml);
                            break;
                        case 6: // 식이 제한
                            dietaryRestrictionCategories.append(categoryHtml);
                            break;
                        case 7: // 음식 특성
                            foodCharacteristicCategories.append(categoryHtml);
                            break;
                        default:
                            console.log("알 수 없는 typeId: " + category.typeId);
                    }
                });
            },
            error: function(e) {
           	 console.log(JSON.stringify(e));
                alert('카테고리 리스트를 불러오는데 실패했습니다.');
            }
		})
	});
</script>
</head>
<body>
	<h1>메뉴 등록 페이지</h1>

	<table>
		<tr>
			<td><label for="storeId">가게 ID:</label></td>
			<td><input type="text" id="storeId" name="storeId"
				th:value="${storeId}"></td>
		</tr>
		<tr>
			<td><label for="name">메뉴 이름:</label></td>
			<td><input type="text" id="name" name="name" required></td>
		</tr>
		<tr>
			<td><label for="price">가격:</label></td>
			<td><input type="number" id="price" name="price" required></td>
		</tr>
		<tr>
			<td><label for="pictureUrl">사진 URL:</label></td>
			<td><input type="text" id="pictureUrl" name="pictureUrl"></td>
		</tr>
		<tr>
			<td><label>카테고리 선택:</label></td>
			<td>
				<h4>재료</h4>
				<div id="ingredientCategories"></div>

				<h4>나라</h4>
				<div id="countryCategories"></div>

				<h4>조리 방법</h4>
				<div id="cookingMethodCategories"></div>

				<h4>음식 종류</h4>
				<div id="foodTypeCategories"></div>

				<h4>식사 시간</h4>
				<div id="mealTimeCategories"></div>

				<h4>식이 제한</h4>
				<div id="dietaryRestrictionCategories"></div>

				<h4>음식 특성</h4>
				<div id="foodCharacteristicCategories"></div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<button type="button" id="registerMenuButton">메뉴 등록</button>
			</td>
		</tr>
	</table>
</body>
</html>