<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>가게 페이지</title>

<script src="/js/jquery-3.7.1.min.js"></script>
<script>
	$(document).ready(function() {
		$('#registerMenuButton').click(function() {
			window.location.href = '/menuRegistration'; // 메뉴 등록 페이지로 이동
		});

		 $.ajax({
             url: '/api/stores', // 가게 리스트를 불러오는 API 엔드포인트
             method: 'GET',
             success: function(data) {
            	 console.log(data);
                 // 요청이 성공적으로 완료되면 실행되는 코드
                 const storeList = $('#storeList'); // 가게 리스트를 표시할 <ul> 요소 선택
                 data.forEach(store => {
                     // 각 가게 정보를 사용하여 <li> 요소를 생성
                     const listItem = $('<li></li>').text(store.name); // 가게 이름을 표시하는 리스트 항목
                     listItem.click(function() {
                         // 리스트 항목 클릭 시 해당 가게의 메뉴 페이지로 이동
                         window.location.href = '/store/' + store.storeId; // 가게 ID를 URL에 포함
                     });
                     storeList.append(listItem); // 생성된 리스트 항목을 <ul> 요소에 추가
                 });
             },
             error: function(e) {
            	 console.log(JSON.stringify(e));
                 alert('가게 리스트를 불러오는데 실패했습니다.');
             }
         });
	});
</script>
</head>
<body>
	<h1>[가게 페이지]</h1>
	
	<p>
		<a href="storeRegistration">가게 등록</a>
	</p>

	<ul id="storeList">
		<!-- 여기에 가게 리스트가 표시됩니다 -->
	</ul>

	<!-- 메뉴 등록 페이지로 이동 -->
	<button id="registerMenuButton">메뉴 등록하기</button>
</body>
</html>