<div th:fragment="header">
    <header>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
              integrity="sha512-dYq6CjV0i0y5+v/tTcnQm4M0W1KSkAoz1iQmB5F3Y5u/SxOf7HBLt/NZkMZy8Lg1E4CgVEoWdjvB5qRCbMqw2w=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>

        <!-- Header Content -->
        <div class="header-left">
            <button class="hamburger-menu" id="hamburger" aria-label="메뉴 열기" aria-expanded="false">&#9776;</button>
            <a th:href="@{/}">
                <img th:src="@{/images/logo.png}" alt="사이트 로고" class="logo">
            </a>
        </div>

        <div class="header-center">
            <div class="search-container d-flex align-items-center">
                <form action="/stores/keywordsearch" method="get" class="d-flex align-items-center w-100">
                    <input type="text" name="keyword" class="search-bar flex-grow-1" placeholder="검색어를 입력하세요" required>
                    <button type="submit" class="btn btn-primary ml-2" aria-label="검색">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <span class="divider"></span>
                <span class="location-text">New York, NY</span>
            </div>
        </div>

        <div class="header-right">
            <!-- 로그인하지 않은 사용자에게 표시 -->
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/user/loginForm}" class="btn btn-primary">로그인</a>
                <a th:href="@{/user/joinForm}" class="btn btn-secondary">회원가입</a>
            </div>

            <!-- 로그인한 사용자에게 표시 -->
            <div sec:authorize="isAuthenticated()" class="user-menu">
                <span class="user-avatar" id="profile-menu-btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
                    <img th:src="@{/images/avatar.jpg}" alt="User Avatar" id="header-profile-pic">
                </span>

                <div class="dropdown-menu dropdown-menu-right" id="dropdown-menu">
                    <ul class="list-unstyled mb-0">
                        <li><a class="dropdown-item" th:href="@{/mypage}"><i
                                class="fas fa-user me-2"></i>
                            마이페이지</a></li>
                        <li><a class="dropdown-item" th:href="@{/friendships/list}"><i class="fas fa-user-friends me-2"></i> 친구
                            찾기</a></li>
                        
                        <li><a class="dropdown-item" th:href="@{/user/logout}"><i class="fas fa-sign-out-alt me-2"></i>
                            로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>
