/* root */
:root {
    /* color */
    --whiteColor: #fff;
    --blackColor: #222;
    --borderColor: #ddd;
    --primaryColor: #FF7878;
    --lightNavyColor: #697390;
}

a {
    color: inherit;
    text-decoration: none;
}

#our-h1 {
    font-size: 24px;
    margin-bottom: 0;
}

#our-h3 {
    font-size: 20px;
}

#our-span {
    color: #8f8f8f;
    font-size: 12px;
}

button {
    cursor: pointer;
}

button>i,
button>i::before {
    pointer-events: none;
}