/* root */
:root {
    /* color */
    --whiteColor: #fff;
    --blackColor: #222;
    --borderColor: #ddd;
    --primaryColor: #FF7878;
    --lightNavyColor: #697390;
}

@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');

body,
html {
    font-family: 'NanumSquareNeo' !important;
    font-family: 'NanumSquareNeoBold';
    font-family: 'NanumSquareNeoExtraBold';
    font-family: 'NanumSquareNeoHeavy';
}


a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

button>i,
button>i::before {
    pointer-events: none;
}