body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a,
a:hover {
  text-decoration: none !important;
}

.container {
  display: flex;
  margin-top: 20px;
  padding: 0 40px;
  /* 왼쪽과 오른쪽에 40px의 여백 추가 */
  max-width: 1200px;
  /* 전체 페이지의 최대 너비 설정 */
  margin-left: auto;
  /* 자동으로 중앙 정렬 */
  margin-right: auto;
  /* 자동으로 중앙 정렬 */
}

/* 프로필 섹션 스타일 */
.profile {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  /* 보더 추가 */
  border-radius: 8px;
  /* 둥근 모서리 추가 */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* 그림자 추가 */
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* 프로필 편집 및 친구 추가 버튼 */
/* 프로필 아이콘 및 텍스트 */
.profile-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* 아이콘 사이 간격 */
}

.button {
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.icon img {
  width: 24px;
  height: 24px;
}

.button span {
  display: block;
  font-size: 14px;
  color: #333;
}


.sidebar {
  flex: 0 0 30%;
  /* 사이드바가 30%의 화면을 차지 */
  background-color: #fff;
  padding: 20px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.main-content {
  flex: 1;
  /* 나머지 공간을 메인 콘텐츠가 차지 */
  background-color: #f9f9f9;
  padding: 20px;
}

/* 사이드바 메뉴 기본 스타일 */
nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar nav ul li {
  margin-bottom: 15px;
}

.menu-item,
.sidebar nav ul li a {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.menu-item.active,
.sidebar nav ul li.active a {
  background-color: #f0f0f0;
  font-weight: bold;
  border-left: 4px solid black;
}

.menu-item img,
.sidebar nav ul li a img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.contents {
  flex-grow: 1;
  padding: 20px;
}

.page-header {
  margin-bottom: 20px;
  text-align: left;
}

.page-header h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}

.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
}

#calendar .fc-view-container {
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}